<EditForm Model="Persona" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="Persona.Nombre" />
            <ValidationMessage For="@(() => Persona.Nombre)" />
        </div>
    </div>
    <div class="form-group">
        <label>Fecha Nacimiento:</label>
        <div>
            <InputDate class="form-control" @bind-Value="Persona.FechaNacimiento" />
            <ValidationMessage For="@(() => Persona.FechaNacimiento)" />
        </div>
    </div>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div>

    <button class="btn btn-success" type="submit">Guardar Cambios</button>
</EditForm>

@code {
    [Parameter] public Persona Persona { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
