@page "/"
@inject IJSRuntime js

<h1>Prueba de llamado de Javascript desde C#!</h1>

<h2>Prueba Simple</h2>

@*<input id="Text1" type="" />*@

@*<input id="btnPrueba" type="button" class="btn btn-primary" value="Pruebita" @onclick="EjecutarConfirm" />*@
<button @onclick="Clickear">Dame un click</button>
