<p>Lo sentimos, no hay nada qu&eacute; mostrar en esta direcci&oacute;n.</p>



@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("404: Ruta no encontrada");
    }
}
